<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <material name="white">
        <color rgba="0.894 0.914 0.929 1" />
    </material>

    <material name="orange">
        <color rgba="0.969 0.878 0.6 1"/>
    </material>

    <material name="blue">
        <color rgba="0.898 0.918 0.929 1"/>
    </material>

    <material name="grey">
        <color rgba="0.502 0.502 0.502 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>

    <material name="yellow">
        <color rgba="1 1 0 1"/>
    </material>

</robot>